body{

font-family:Segoe UI;
margin:0;
background:linear-gradient(135deg,#0f172a,#1e3a8a);
color:white;
text-align:center;

}

header{

padding:30px;
background:rgba(0,0,0,0.4);

}

.menu{

margin:20px;

}

.menu button{

padding:12px 25px;
margin:8px;
border:none;
border-radius:30px;
background:#2563eb;
color:white;
cursor:pointer;

}

.menu button:hover{

transform:scale(1.1);

}

section{

padding:30px;

}

.hidden{

display:none;

}

input,select{

padding:10px;
margin:10px;
width:220px;
border-radius:10px;
border:none;

}

button{

padding:12px 20px;
background:#22c55e;
border:none;
border-radius:10px;
cursor:pointer;

}

.sos{

background:red;
font-size:18px;

}

.cards{

display:flex;
justify-content:center;
gap:30px;

}

.card{

background:rgba(255,255,255,0.1);
padding:20px;
border-radius:15px;
width:150px;

}

#mapid{

height:400px;
margin-top:20px;
border-radius:15px;

}